html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.col-4 {
  max-width: 25%;
}

.btn {
  border: 1px solid currentColor;
  display: inline-block;
  padding: 1.2rem 2.5rem;
  border-radius: 2.5rem;
}

.btn--primary {
  background-image: linear-gradient(to bottom, #ffea7b, #ffca7a);
  border: none;
  box-shadow: 0px 20px 30px #f9f1bc;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  padding-top: 3rem;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__menu-item {
  margin-left: 5rem;
}
.header__menu-item:last-child {
  margin-left: 7rem;
}
.header__menu-link {
  font-size: 1.6rem;
  color: #1a2b5f;
  transition: color 0.2s linear;
}
.header__menu-link:hover {
  color: #f9bb65;
}
.header__menu-icon {
  margin-left: 1rem;
}

.logo {
  color: #1a2b5f;
  font-size: 3.5rem;
  font-weight: 600;
}
.logo__text {
  color: #f9bb65;
}

.header-mid {
  margin: 12rem 22rem;
}
.header-mid__top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header-mid__top-text {
  font-size: 5rem;
  font-weight: 700;
  color: #1a2b5f;
}
.header-mid__bot {
  display: inline-block;
  margin: 3rem 8rem 0 8rem;
}
.header-mid__bot-slogan {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  color: #6a7597;
}
.header-mid__options {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header-mid__options-link {
  color: #1a2b5f;
  font-size: 1.4rem;
  font-weight: 600;
  transition: color 0.2s linear;
}
.header-mid__options-link:hover {
  color: #f9bb65;
}
.header-mid__options-explore {
  background-color: #fff;
  margin-right: 2.4rem;
  transition: color 0.2s linear;
}
.header-mid__options-explore:hover {
  color: #f9bb65;
}
.header-mid__options-buytickets {
  transition: color 0.2s linear;
}
.header-mid__options-buytickets:hover {
  color: #f9bb65;
}

.category__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.category__item {
  width: calc(25% - 22.5px);
  padding: 2.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}
.category__item:first-child {
  box-shadow: 0px 50px 70px rgba(255, 151, 195, 0.25);
}
.category__item:nth-child(2) {
  box-shadow: 0px 50px 70px rgba(255, 112, 109, 0.25);
}
.category__item:nth-last-child(2) {
  box-shadow: 0px 50px 70px rgba(133, 152, 255, 0.25);
}
.category__item:last-child {
  box-shadow: 0px 50px 70px rgba(255, 200, 122, 0.25);
}
.category__img {
  border-radius: inheritl;
  width: 100%;
  height: 230px;
  transition: 0.3s 0.2s linear;
  margin-bottom: 4rem;
}
.category__img:hover {
  transform: scale(1.1);
}
.category__name {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: #1a2b5f;
}
.category__details {
  font-size: 1.4rem;
  color: #8d95af;
  margin-top: auto;
  transition: color 0.2s linear;
}
.category__details:hover {
  color: #f9bb65;
}
.category__details-icon {
  margin-left: 1rem;
}
.category__name, .category__details {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feature__item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 12rem;
}
.feature__img {
  margin-right: 10rem;
  width: 100%;
}
.feature__img:nth-child(2) {
  margin-left: 10rem;
  margin-right: 0;
}
.feature__info {
  margin-top: 10rem;
}
.feature__title {
  font-size: 3.5rem;
  font-weight: 700;
  color: #1a2b5f;
  line-height: 5rem;
}
.feature__direction {
  margin: 3rem 0;
  font-size: 1.4rem;
  color: #6a7597;
}
.feature-intro__item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  text-decoration: underline;
  font-size: 1.4rem;
  font-weight: 500;
  color: #1a2b5f;
  line-height: 1.8rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.feature-intro__item--circle {
  text-decoration: none;
  position: relative;
  padding-left: 3rem;
}
.feature-intro__item--circle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: #ff6adf;
}
.feature-intro__item--circle:nth-child(2):before {
  background-color: #92fa3c;
}
.feature-intro__item--circle:nth-last-child(2):before {
  background-color: #1ec0f4;
}
.feature-intro__item--circle:last-child:before {
  background-color: #ff899c;
}
.feature-intro__item:hover {
  transition: color 0.2s linear;
}
.feature-intro__item:hover:first-child {
  color: #ff6adf;
}
.feature-intro__item:hover:nth-child(2) {
  color: #92fa3c;
}
.feature-intro__item:hover:nth-last-child(2) {
  color: #1ec0f4;
}
.feature-intro__item:hover:last-child {
  color: #ff899c;
}
.feature-intro__ball {
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.feature__visit {
  font-size: 1.4rem;
  font-weight: 500;
  color: #1a2b5f;
}
.feature__visit:hover {
  transition: color 0.2s linear;
  color: #f9bb65;
}

/*# sourceMappingURL=style.css.map */
