html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@keyframes moveLeft {
  0% {
    right: 0px;
  }
  100% {
    right: 100%;
  }
}
@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes modalFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20rem);
  }
}
.col-4 {
  max-width: 25%;
}

.btn {
  border: 1px solid currentColor;
  display: inline-block;
  padding: 1.2rem 2.5rem;
  border-radius: 2.5rem;
}

.btn--primary {
  background-image: linear-gradient(to bottom, #ffea7b, #ffca7a);
  border: none;
  box-shadow: 0px 20px 30px #f9f1bc;
}

.text-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-clamp--2 {
  -webkit-line-clamp: 2;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding-top: 2rem;
  padding-bottom: 1rem;
  z-index: 99;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__menu-item {
  margin-left: 4.5rem;
}
.header__menu-item:last-child {
  margin-left: 6rem;
}
.header__menu-link {
  display: flex;
  font-size: 1.6rem;
  color: #1a2b5f;
  transition: color 0.2s linear;
}
.header__menu-link:hover {
  color: #f9bb65;
}
.header__menu-icon {
  margin-left: 1rem;
}

.logo {
  color: #1a2b5f;
  font-size: 2.2rem;
  font-weight: 600;
}
.logo__text {
  color: #f9bb65;
}

.banner {
  padding: 12rem;
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}
.banner__heading {
  font-size: 5rem;
  font-weight: 700;
  color: #1a2b5f;
  margin-bottom: 3rem;
}
.banner__slogan {
  display: inline-block;
  margin-bottom: 4rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #6a7597;
}
.banner__options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.banner__options-link {
  color: #1a2b5f;
  font-size: 1.4rem;
  font-weight: 600;
  transition: color 0.2s linear;
}
.banner__options-link:hover {
  color: #f9bb65;
}
.banner__options-explore {
  background-color: #fff;
  margin-right: 2.4rem;
  transition: color 0.2s linear;
}
.banner__options-explore:hover {
  color: #f9bb65;
}
.banner__options-buytickets {
  transition: color 0.2s linear;
}
.banner__options-buytickets:hover {
  color: #f9bb65;
  opacity: 0.7;
}

.category__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.category__item {
  width: calc(25% - 22.5px);
  padding: 2.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}
.category__item:first-child {
  box-shadow: 0px 50px 70px rgba(255, 151, 195, 0.25);
}
.category__item:nth-child(2) {
  box-shadow: 0px 50px 70px rgba(255, 112, 109, 0.25);
}
.category__item:nth-last-child(2) {
  box-shadow: 0px 50px 70px rgba(133, 152, 255, 0.25);
}
.category__item:last-child {
  box-shadow: 0px 50px 70px rgba(255, 200, 122, 0.25);
}
.category__img {
  border-radius: inherit;
  width: 100%;
  height: 230px;
  transition: 0.3s 0.2s linear;
  margin-bottom: 4rem;
}
.category__img:hover {
  transform: translateY(-20px);
  box-shadow: 0px 20px 30px rgba(249, 187, 101, 0.35);
}
.category__name {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: #1a2b5f;
}
.category__details {
  font-size: 1.4rem;
  color: #8d95af;
  margin-top: auto;
  transition: color 0.2s linear;
}
.category__details:hover {
  color: #f9bb65;
}
.category__details-icon {
  margin-left: 1rem;
}
.category__name, .category__details {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feature {
  padding-top: 18rem;
}
.feature__item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 15rem;
}
.feature__item:nth-child(odd) .feature__info {
  padding-left: 10rem;
}
.feature__item:nth-child(even) {
  flex-direction: row-reverse;
}
.feature__item:nth-child(even) .feature__info {
  padding-right: 10rem;
}
.feature__img {
  width: 50%;
}
.feature__info {
  margin-top: 8rem;
  width: 50%;
}
.feature__title {
  font-size: 3.5rem;
  font-weight: 700;
  color: #1a2b5f;
  line-height: 5rem;
}
.feature__desc {
  margin: 3rem 0;
  font-size: 1.4rem;
  color: #6a7597;
}
.feature-intro {
  position: relative;
}
.feature-intro__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.feature-intro__item {
  font-size: 1.4rem;
  font-weight: 500;
  color: #1a2b5f;
  line-height: 1.8rem;
  cursor: pointer;
  opacity: 0.6;
  padding: 0.8rem 0.4rem;
  border-radius: 0.4rem;
  background-color: rgba(249, 187, 101, 0.1);
}
.feature-intro__item.active {
  opacity: 1;
  background-color: rgba(249, 187, 101, 0.2);
  color: #f9bb65;
}
.feature-intro__item--circle {
  text-decoration: none;
  position: relative;
  padding-left: 3rem;
}
.feature-intro__item--circle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: #ff6adf;
}
.feature-intro__item--circle:nth-child(2):before {
  background-color: #92fa3c;
}
.feature-intro__item--circle:nth-last-child(2):before {
  background-color: #1ec0f4;
}
.feature-intro__item--circle:last-child:before {
  background-color: #ff899c;
}
.feature-intro__item:hover {
  transition: color 0.2s linear;
}
.feature-intro__item:hover:first-child {
  color: #ff6adf;
}
.feature-intro__item:hover:nth-child(2) {
  color: #92fa3c;
}
.feature-intro__item:hover:nth-last-child(2) {
  color: #1ec0f4;
}
.feature-intro__item:hover:last-child {
  color: #ff899c;
}
.feature-intro__ball {
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.feature-intro__line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.6rem;
  border-radius: 14rem;
  background-color: #f9bb65;
  transition: all 0.3s ease-in;
}
.feature__visit {
  font-size: 1.4rem;
  font-weight: 500;
  color: #1a2b5f;
}
.feature__visit:hover {
  transition: color 0.2s linear;
  color: #f9bb65;
}
.feature-best__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.feature-best__item {
  width: calc(50% - 2.5rem);
  margin: 1rem 0;
}
.feature-best__icon {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 1rem;
  font-size: 2.5rem;
  color: #1ec0f4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
}
.feature-best__icon--primary {
  color: #f9bb65;
}
.feature-best__icon--purple {
  color: #ff6adf;
}
.feature-best__icon--green {
  color: #92fa3c;
}
.feature-best__icon:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.25;
}
.feature-best__title {
  margin: 1rem 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: #1a2b5f;
}
.feature-best__desc {
  font-size: 1rem;
  color: #8d95af;
}
.feature-content {
  height: 13rem;
  padding-bottom: 4rem;
}
.feature-content__item {
  display: none;
}
.feature-content__item h2 {
  color: #f9bb65;
  padding-top: 1.4rem;
  font-size: 1.4rem;
  padding-bottom: 1rem;
}
.feature-content__item p {
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.feature-content__item.active {
  display: block;
}

.partner {
  margin-bottom: 19rem;
}
.partner__container {
  max-width: 80rem;
  text-align: center;
}
.partner__title {
  font-size: 2rem;
  color: #1a2b5f;
  font-weight: 600;
  margin-bottom: 7rem;
  padding-bottom: 7rem;
  border-bottom: 0.5rem solid currentColor;
}
.partner__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}

.connect {
  margin-bottom: 17rem;
  text-align: center;
}
.connect__title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 3.5rem;
}
.connect__notice {
  font-size: 1.8rem;
  font-weight: 600;
  color: #1a2b5f;
  margin-bottom: 6rem;
}
.connect__notice--primary {
  color: #f9bb65;
}
.connect__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.connect__item {
  width: calc(25% - 2rem);
  overflow: hidden;
  border-radius: 3rem;
}
.connect__img {
  transition: 0.3s 0.2s linear;
}
.connect__img:hover {
  transform: scale(1.1);
}

.subscribe {
  margin-bottom: 5rem;
}
.subscribe__container {
  padding-bottom: 8.4rem;
  border-bottom: 0.5rem solid currentColor;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.subscribe__title {
  width: 36%;
}
.subscribe__info {
  width: 55%;
}
.subscribe__title {
  font-size: 2rem;
  font-weight: 600;
  max-width: 43rem;
}
.subscribe__form {
  background-color: #f2f1f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 2rem;
  margin-bottom: 4rem;
}
.subscribe__button, .subscribe__input {
  padding: 0;
}
.subscribe__input {
  border: 0;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  font-family: "Poppins";
  color: #8d95af;
  flex-grow: 1;
  padding-right: 1.5rem;
}
.subscribe__button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  color: #1a2b5f;
  font-weight: bold;
  transition: color 0.2s linear;
}
.subscribe__button:hover {
  color: #f9bb65;
}
.subscribe__social {
  margin-left: 3.5rem;
  font-size: 2.2rem;
  color: #1a2b5f;
}
.subscribe__social--link {
  color: #1a2b5f;
  transition: color 0.2s linear;
}
.subscribe__social--link:hover {
  color: #f9bb65;
}
.subscribe__icon {
  margin-right: 4rem;
}

.footer__container {
  margin-bottom: 3rem;
  padding-bottom: 19rem;
  border-bottom: 0.2rem solid currentColor;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.footer__item {
  width: 25%;
}
.footer__link {
  font-weight: 600;
  color: #1a2b5f;
  font-size: 1.2rem;
  display: block;
  margin-bottom: 3rem;
  width: fit-content;
  transition: color 0.2s linear;
}
.footer__link:hover {
  color: #f9bb65;
}

.copyright__container {
  padding-bottom: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.copyright__service {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  color: #1a2b5f;
  font-size: 0.9rem;
}
.copyright__by {
  color: #1a2b5f;
  font-weight: 600;
  transition: 0.2s 0.2s linear;
}
.copyright__by:hover {
  color: #f9bb65;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0%;
  background: rgba(249, 187, 101, 0.2);
  display: none;
  align-items: center;
  justify-content: center;
  animation: modalFadeIn 1s ease;
}
.modal.open {
  display: flex;
}
.modal-container {
  border-radius: 3rem;
  margin: 10rem auto;
  background: #fff;
  width: 900px;
  max-width: calc(100% - 4rem);
  min-height: 20rem;
  position: relative;
  animation: modalFadeIn ease 0.5s;
}
.modal-header {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  background-color: #f9bb65;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 2.8rem;
  color: #fff;
  font-weight: 600;
}
.modal-heading-icon {
  margin-right: 1.6rem;
}
.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 1.2rem;
  cursor: pointer;
  font-size: 2rem;
  transition: color 0.2s linear;
}
.modal-close:hover {
  color: #1a2b5f;
}
.modal-body {
  padding: 1.6rem;
}
.modal-lable {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}
.modal-input {
  border-radius: 2rem;
  border: #f9bb65 0.2rem solid;
  width: 100%;
  padding: 1rem;
  font-size: 1.4rem;
  margin-bottom: 2.2rem;
}
.modal-footer {
  font-size: 1.4rem;
  padding: 0 2rem 2rem 2rem;
  text-align: right;
}
.modal-footer a {
  color: #1a2b5f;
  transition: color 0.2s linear;
}
.modal-footer a:hover {
  color: #f9bb65;
}

#buy-tickets {
  border-radius: 3rem;
  margin: 1.6rem 0;
  padding: 1.6rem;
  border: none;
  background-color: #f9bb65;
  width: 100%;
  height: 5rem;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: color 0.2s linear;
}
#buy-tickets:hover {
  color: #1a2b5f;
  background-color: rgba(249, 187, 101, 0.8);
}
#buy-icon {
  margin-left: 0.4rem;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.reveal-width-right {
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal-width-right.active {
  transform: translateX(0);
  opacity: 1;
}

.reveal-width-right-2 {
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal-width-right-2.active {
  transform: translateX(0);
  opacity: 1;
}

.reveal-width-left {
  position: relative;
  transform: translateX(-375px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal-width-left.active {
  transform: translateX(0);
  opacity: 1;
}

.reveal-width-left-2 {
  position: relative;
  transform: translateX(-375px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal-width-left-2.active {
  transform: translateX(0);
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
